<div class="container">
  <h1>data</h1>
  <h2>Userplan</h2>
  <% @userplans.each do |userplan| %>
  <%= userplan.user.name %>
  <%= userplan.plan.plan_name %>
  <%= userplan.satisfied %>
  <br>
  <% end %>
  <hr>
  <h2>User</h2>
  <% @users.each do |user| %>
  <%= user.id %>
  <%= user.name %>
  <br>
  <% end %>
  <hr>
  <h2>Plan</h2>
  <% @plans.each do |plan| %>
  <%= plan.id %>
  <%= plan.plan_name %>
  <%= plan.plan_date %>
  <br>
  <% end %>
  <hr>
</div>
