<h1>ようこそ、metamorphosisへ</h1>
<p>Find me in app/views/home/top.html.erb</p>

<% @userplans.each do |userplan| %>
<%= userplan.user.name %>
<%= userplan.plan.plan_name %>
<%= userplan.satisfied %>
<br>
<% end %>

<hr>

<% @users.each do |user| %>
<%= user.id %>
<%= user.name %>
<br>
<% end %>

<hr>
<% @plans.each do |plan| %>
<%= plan.id %>
<%= plan.plan_name %>
<%= plan.plan_date %>
<br>
<% end %>
<hr>
<%= @debug %>
<%= high_chart("my_chart", @chart) %>
